.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.navlink {
  display: flex;
  gap: 30px;
}

.navlink a {
  text-decoration: none;
  color: #333;
}
@media only screen and (max-width: 750px) {
  .navlink {
    display: none;
  }

  .nav {
    font-size: 20px;
  }
}
