.products {
  margin: 30px 40px;
}

.latestInput {
  margin: 20px 0;
}

.latest button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid purple;
  border-radius: 10px;
  background-color: purple;
  color: white;
  cursor: pointer;
}

.latest button:hover {
  opacity: 0.8;
  scale: 1.05;
}

.productBtn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.productBtn button {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.productBtn button:hover {
  opacity: 0.8;
  scale: 1.05;
  color: #fff;
}

.productCard {
  /* box-shadow: 2px 2px 2px 2px #333; */
  padding: 20px;
  border-radius: 5px;
  border: 1px solid purple;
}

.cardImage {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: contain;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 30px 0;
}

.btnCat {
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  background: purple;
  color: white;
  border: none !important;
  white-space: nowrap;
}

.prodSearch {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
  width: 300px;
  border: 1px solid purple;
}

.buybtn {
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  background: purple;
  color: white;
  border: none;
}
.buybtn:hover {
  opacity: 0.8;
  scale: 1.05;
}

.center {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 0 350px;
  border-radius: 20px;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, purple, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media only screen and (max-width: 750px) {
  .section {
    grid-template-columns: 1fr;
  }

  .productBtn {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cardImage {
    width: 200px;
    height: 200px;
  }

  .productBtn {
    overflow-x: "scroll";
    display: flex;
    margin: 20px 0;
  }

  .center {
    margin: 0 10px;
  }
}
