.sneaker {
  display: flex;
  margin: 20px 50px;
  padding: 20px 50px;
  background-color: antiquewhite;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
}

.btnsneak {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .sneaker {
    flex-direction: column;
    margin: 0 10px;
  }
}
